.hover-enter {
  opacity: 0.01;
}

.hover-enter.hover-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

div.workImage img {
  border:3px solid #00A7C8;
  height: 220px !important;
  width: 360px !important;
}
