.hover-enter {
  opacity: 0.01;
}

.hover-enter.hover-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

/*DIV STYLING================================================================*/

div.workImage {
  display: inline-block;
  margin: 1%;
  width: 31%;
}

div.workImage img {
  max-width: 200px;
  max-height: 200px !important;
  min-width: 200px;
  min-height: 200px;
}

div.workImage:hover {
    -moz-transition:color .4s ease-in;
    -o-transition:color .4s ease-in;
    -webkit-transition:color .4s ease-in;
    color: #00A7C8;
}

p.language {
  padding: 0.4em 0 0.2em 0;
  font-size: 0.55em;
  letter-spacing: 0.2em;
  border: 1px groove silver;
  border-top: none;
}


/*IMAGE RIBBON STYLING===========================================================*/

string.ui.black.ribbon.label {
  border: 1px solid white;
}

string.ui.blue.ribbon.label {
  border: 1px solid white;
}



/*MOBILE RESIZING====================================================================*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    div#work_wrapper {
      width: 95%;
      margin: 0 !important
    }
    div.workImage {
      display: block !important;
      margin: 0em 0em 1em 2.5em !important;
      width: 100%;
    }

}
