.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.blue {
    color: #00A7C8;
    font-weight: bold;
}

div.page_wrapper {
  width: 50%;
  margin-left: 25%;
  margin-top: 2em;
}

h3#about_header {
  background-color: inherit;
  text-align: left;
  padding-left: 0.5em;
  font-size: 2em;
  color: #00A7C8;
}

div#about_me {
  background-color: inherit;
  text-transform: none;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.6em;
  letter-spacing: 0
}


div#about_content {
  text-transform: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  letter-spacing: 0
}


div#my_pic {
  margin-right: 2em;
}

div#about_me img {
  border: 1px solid #00A7C8;
}


/*MOBILE STYLING!!!!============================================*/

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    div#aboutContainer {
      margin-top: 2em;
      margin-left: 1em;
      text-align: left;
      width: 80%;
    }

    img#my_pic  {
      height: 200px;
      width: 165px;
    }
}
