.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.blue {
    color: #00A7C8;
    font-weight: bold;
}

div.page_wrapper {
  width: 50%;
  margin-left: 25%;
  margin-top: 2.2em;
}

h3#about_header {
  background-color: inherit;
  text-align: left;
  padding-left: 0.5em;
  font-size: 2em;
  color: #00A7C8;
}

div#about_me {
  background-color: inherit;
  text-transform: none;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.6em;
  letter-spacing: 0;
  margin-bottom: 2em;
}


div#about_content {
  text-transform: none;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1em;
  letter-spacing: 0
}


div#my_pic {
  margin-right: 2em;
}

div#about_me img {
  box-shadow: 10px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a#contact_link {
  font-weight: bold;
  color: pink
}
