div#work_wrapper {
  width: 70%;
  margin-left: 14%;
  padding-bottom: 4em;
}

h3#work_header {
  background-color: inherit;
  text-align: left;
  padding-left: 0.5em;
  font-size: 2em;
  color: #00A7C8;
}

p#about_work {
  background-color: inherit;
  text-transform: none;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.6em;
  letter-spacing: 0;
  margin-bottom: 2em;
}

span#github_link {
  font-weight: bold;
}
