html {
  height: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 4em;
  min-height: 100%;
  font-family: sans-serif;
}

/*MOBILE RESIZE=============================================================*/
@media only screen and (max-width: 780px) {
    /* For mobile phones: */
    #footer {
      display: none
    }
}
